.calculatorDisplay {
    width: 454px;
    height: 125px;
    background-color: black;
    margin: 0 auto;
    border: 2px solid gray;
    box-sizing: border-box;
    color: white;
    /* font-size: 5rem; */
}

h1 {
    margin-left: 400px;
    margin-top: 30px;
    font-weight: lighter;
    font-size: 410%;
}